{% extends './base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h1 class="about-h1">Історія мого шляху</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="about-p">
                        Приветствую, Я Ярослава Тимченко Магистр Психологии. Член НАГТУ (Национальной ассоциации гештальт терапевтов Украины). <br>Мне 43 года, я мама 14 летнего сына.
                        <br>В терапии, тренингах и консультировании я более 8 лет, до этого я работала в финансовой сфере и в сфере продаж. <br>Имею высшее экономическое и высшее психологическое образование.  <br>К изучению психологии, я пришла с чётким пониманием того, что я успешна, когда помогаю другим. <br>Я научилась понимать и различать, что для меня ценно и важно. Научилась отпускать то, что уже утратило актуальность, и выбирать то, к чему тянется моя душа и то, чего хочет мое сердце, а еще я научилась выбирать себя, так как очень кропотливо работала над своей самооценкой. И сегодня я помогаю справиться с разного рода проблемами и сложностями своим клиентам.
                        <br>В 2015 году я переехала из Луганской области, в которой у меня остался новый дом. <br>Я не понаслышке знаю все тягости, которые связаны, с вынужденным переселением и адаптацией в новых условиях, 7 раз я переезжала меня города и квартиры. 

                       
                    </p>
                </div>
                <div class="col">
                    <img class="img-fluid img-thumbnail img-about" src="{% static 'clinicapp/images/IMG_6346.JPG' %}" alt="">
                    <p class="about-p"> 
                        <br>Я провела более 1000 мероприятий, тренингов и обучений, более 3000 тыс. личных консультаций.  
                        <br>Сегодня я полностью посвятила свою профессиональную сферу жизни, психологии и гештальт-терапии.  <br>Веду частную практику. Провожу Индивидуальную терапию, парную(семейную) терапию, а также являюсь ведущей терапевтических групп.. Я постоянно обучаюсь повышаю свою квалификацию, совершенствую профессиональные навыки. В своей работе я всегда ищу индивидуальный подход к каждому клиенту. <br>Верю — в любом человеке есть потенциал для развития.
                        <br>Целью своей работы я считаю способствовать тому, чтобы человек научился чувствовать свои потребности осозновать свои истинные  желания, познавал себя и в результате этого, жил в гармонии с собой и окружающими.

                        <br>Приглашаю на личные консультации, а также на парную(семейную) терапию и в групповую терапию.
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>