{% extends './header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h1 class="about-h1">Про мене</h1>
        <div class="path-history-div">
            <h2 class="about-h2">Історія мого шляху</h2>
            <h2>Мне 43 года, я мама 14 летнего сына.</h2>
            <p class="path-p">До вивчення психології я прийшла з чітким розумінням того, що я успішна, коли допомагаю іншим. Я навчилася розуміти і розрізняти, що для мене є цінним і важливим. Навчилася відпускати те, що вже втратило актуальність, і вибирати те, до чого тягнеться моя душа і те, чого хоче моє серце, а ще я навчилася вибирати себе, бо дуже старанно працювала над своєю самооцінкою. І сьогодні я допомагаю впоратися з різними проблемами та складнощами своїм клієнтам.</p>

        </div>

        <div class="path-div">
            <h2>Мій шлях</h2>

            <h2 class="text-align-center">Я провела более 1000 мероприятий, тренингов и обучений, более 3000 тыс. личных консультаций</h2>
            <p class="path-p-2 text-align-center">Сегодня я полностью посвятила свою профессиональную сферу жизни, психологии и гештальт-терапии.  Веду частную практику. Провожу индивидуальную терапию, парную (семейную) терапию, а также являюсь ведущей терапевтических групп. В своей работе я всегда ищу индивидуальный подход к каждому клиенту. Верю — в любом человеке есть потенциал для развития. Я постоянно обучаюсь повышаю свою квалификацию, совершенствую профессиональные навыки.  В 2015 году я переехала из Луганской области, в которой у меня остался новый дом.  Я не понаслышке знаю все тягости, которые связаны, с вынужденным переселением и адаптацией в новых условиях, 7 раз я переезжала меня города и квартиры.</p>
        </div>
    {% endblock %}
</body>
</html>