{% extends './header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h1 class="consultation-h1">Консультації</h1>
        <div class="consultation-info">
            <h2 class="consultation-h2">Кому підійдуть консультації?</h2>
            <p class="consultation-p">
                В среднем от 1-5 до 10-12 сессий. Внимание сфокусировано на запросе. Лучше всего подходит для работы с поведением (привычкой), конкретными ситуациями или конфликтами. Направленная на осознание причин поведения, получение нового опыта и формирование плана действий.
            </p>
        </div>
        <div class="button-box">
            <a href="{% url 'form' %}">
                <button type="button" class="find-service">Підібрати сеанс</button>
            </a>
        </div>

    {% endblock %}
</body>
</html>