@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    margin: 0;
    background-color: #FFFCE1;
}

header{
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #FFEB85;
    max-width: 100%;
    height: 150px;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    text-align: center;
}

.faq-h1{
    text-align: center;
}

.logo{
    font-family: 'Comfortaa';
    font-size: 36px;
    font-weight: 300;
}

.logo label{
    font-size: 28px;
}

header a{
    color: black;
    text-decoration: none;
}

.links{
    display: flex; 
    /* justify-content: space-around; */
    gap: 40px;
    padding: 10px;
    font-family: 'Krub';
    font-size: 32px;
}

.links a{
    transition: color 0.3s;
}

.links a:hover{
    color: #8B8B8B;
}

.img-main{
    height: 700px;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
}

.main-p{
    font-family: 'Krub';
    font-size: 20px;
    font-style: italic;
    /* font-weight: 200; */

}

.headline{
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 36px;
}

.accordion{
    background-color:#FFFCE1;
}

.find-service{
    width: 385px;
    height: 70px;
    outline: none;
    border: none;
    /* font-family: "Krub"; */
    /* font-weight: 500; */
    font-size: 24px;
    background-color: #FFEFB7;
    transition: background-color 0.2s;
}

.find-service:hover{
    background-color: #CCB668;
}

.container{
    display: flex;
    justify-content: center;
}

.path-history-div{
    width: 100%;
    height: 750px;
    background-color: white;
}

.path-container{
    /* width: 100%; */
    height: 100%;
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9C8;
    flex-direction: column;
    height: 100%;
}

h2{
    font-family: 'Comfortaa';
    text-align: center;
}

.container-row{
    width: 100%;
}

.path-p{
    font-family: 'Krub';
    font-size: 32px;
    text-align: center
}

.path-p-2{
    font-family: 'Krub';
    font-size: 30px;
    text-align: center;
}

.block-path{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDAA3;
    flex-direction: column;
    height: 100%;
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px; 
    height: 750px;
    padding: 10px;
    background-color: #FFE39C; 
    border: 3px solid rgba(0, 0, 0, 0.5); 
    margin: auto; 
    text-align: center;
}

.h2_form{
    text-align: center; 
    font-family: 'Comfortaa';
    font-size: 40px;
}
.errorlist li {
    display: block;
    font-size: 24px;
    text-align: center;
    color: red;
    font-family: 'Krub';
}

.errorlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-family: 'Krub';
    outline: none;
    border: 1px black solid;
    width: 635px;
    height: 80px;
    padding: 10px 50px 10px 10px;
    font-size: 32px;
    /* color: rgba(0, 0, 0, 0.45); */
}

.btn-form{
    background-color: #FFB979;
    font-family: 'Krub';
    font-size: 32px;
    width: 550px;
    height: 110px;
    border: 1px solid black;
    transition: all 0.2s;
    border-radius: 5px;
}

.btn-form:hover{
    background-color: #F6A356;
}

.goal-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E0FFFF;
    height: 750px;
}

.goal-h2{
    font-family: 'Comfortaa';
    font-size: 48px;
    font-weight: 500;
}

.goal-p{
    font-family: 'Krub';
    font-size: 32px;
    text-align: center;
}

.goal-button{
    width: 385px;
    height: 70px;
    outline: none;
    border: none;
    /* font-family: "Krub"; */
    /* font-weight: 500; */
    font-size: 24px;
    background-color: #7CFFF7;
    transition: all 0.2s;
}

.goal-button:hover{
    background-color: #307975;
    color: white;
}

.accordion-div{
    display: flex;
    justify-content: center;
}

.accordion{
    width: 700px;
    padding: 20px;
    text-align: center;
}

.accordion-text{
    font-family: 'Comfortaa';
    font-size: 20px;
}

.accordion-button{
    font-size: 32px;
}

.button-box{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.contact-h1{
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 48px;
}

.contact-p{
    text-align: center;
    font-family: 'Krub';
    font-size: 24px;
}

.img-div{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.contact-img{
    width: 220px;
    height: 340px;
}

#contact-img1{
    width: 510px;
}